PNCP_BASE_URL=https://pncp.gov.br/api/pncp/v1
PNCP_CONSULTA_URL=https://pncp.gov.br/api/consulta/v1
PNCP_TIMEOUT=30
PNCP_RATE_LIMIT_DELAY=0.5
PNCP_MAX_RETRIES=3
PNCP_DOWNLOAD_DIR=./downloads
PNCP_DB_PATH=./pncp.db
PNCP_CACHE_TTL=3600
